[core]
    # Path to global gitignore file.
    #excludesfile = XXX
[user]
    name = "Brett Cannon"
    email = "brett@python.org"
[remote]
    pushdefault = origin
[push]
    default = current
#[credential]
    # Can use under WSL to rely on the Windows credential manager.
#	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
